<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
  <meta name="description" content="">
  
  <title>Sistema DDHH Quilmes</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
<!------------------NAV LOGO Y NOMBRE----------------->
  <section class="menu cid-ruNsw1yRec" once="menu" id="menu1-0">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                
                <span class="navbar-caption-wrap">
                    <img src="img/membrete 2019.png"></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="index.html">
                    <h3>Sistema DDHH Quilmes</h3>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<!------------------/TERMINA EL NAV------------------------->
<!------------------COMIENZA EL FORMULARIO----------------->
<section class="cid-ruNtyUeTOv mbr-fullscreen mbr-parallax-background" id="header2-1">

    <div class="mbr-overlay" style=" background-color: #EDFAF7;"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h3 class="mbr-section-title pb-3 mbr-fonts-style display-1">
                    <span style="font-size: 40px; color: #000000;">
                    Ficha de Admisión</span></h1>
            </div>
        </div>


<!------------------COLOCAR ACA EL FORM OOOO PROBAR MAS ABAJO----------------->

<form>
  <div class="form-row">
    <div class="col-md-3">
      <label for="fichaNro">Ficha Nro.</label>
        <input type="fichaNro" id="fichaNro">
        </div>

    <div class="form-row">
        <div class="col-md-4">
        <label for="Sede">Sede</label>
        <select id="sede">
          <option></option>
          <option>SSria DDHH</option>
          <option>La Fortaleza</option>
          <option>En Territorio</option>
        </select>
      </div>
    </div>
  </div>
    
  <div class="form-row">
    <div class="col-md-5">
        <label for="fuenteDerivacion">Fuente de derivación</label>
        <select id="fuenteDerivacion">
          <option></option>
          <option>Comisaría</option>
          <option>Defensoría</option>
          <option>Juzgado</option>
          <option>Hospital</option>
          <option>Salud</option>
          <option>Salud mental</option>
          <option>Adultos mayores</option>
          <option>Org. sociedad civil</option>
          <option>Particular</option>
        </select>
    </div>
</form>
</section>
  <div class="row">
    <div class="col-sm-1">
    
    </div>

    <div class="col-sm-10">

    <form>
      <h2 class="bd-title" id="content">Datos generales</h2>

      <div class="form-group">
        <label for="fichaNro">Ficha Nro.</label>
        <input type="fichaNro" class="form-control" id="fichaNro" placeholder="">
      </div>

      <div class="form-row">
        <label for="Sede">Sede</label>
        <select class="form-control" id="sede">
          <option></option>
          <option>SSria DDHH</option>
          <option>La Fortaleza</option>
          <option>En Territorio</option>
        </select>
      </div>

      <div class="form-group">
        <label for="fuenteDerivacion">Fuente de derivación</label>
        <select class="form-control" id="fuenteDerivacion">
          <option></option>
          <option>Comisaría</option>
          <option>Defensoría</option>
          <option>Juzgado</option>
          <option>Hospital</option>
          <option>Salud</option>
          <option>Salud mental</option>
          <option>Adultos mayores</option>
          <option>Org. sociedad civil</option>
          <option>Particular</option>
        </select>
      </div>

      <div class="form-group">
        <label for="entrevistadorxs">Entrevistadorxs</label>
        <select class="form-control" id="entrevistadorxs">
          <option></option>
          <option>Coronel, Yamila</option>
          <option>Corpacci, Florencia</option>
          <option></option>
          <option></option>
          <option>Gerini, Camila</option>
          <option>K, Vanesa</option>
          <option>Meza, Albert</option>
          <option>Morais, Juan</option>
          <option>Eduardo</option>
          <option>Ernesto</option>
          <option>Schieroni, Carolina</option>
          <option>Sosa, Mónica</option>
          <option></option>
        </select>
      </div>

      <div class="form-group">
        <label for="3roDenunciante">3ro Denunciante</label>
        <select class="form-control" id="3roDenunciante">
          <option>No</option>
          <option>Si</option>
        </select>
      </div>

      <div class="form-group">
        <label for="nombre3ro">Nombre completo</label>
        <input type="text" class="form-control" id="nombre3ro">
      </div>

      <div class="form-group">
        <label for="vinculo3ro">Vinculo con PSVD</label>
        <select class="form-control" id="vinculo3ro">
          <option>No aplica</option>
          <option>Pareja</option>
          <option>Madre/Padre</option>
          <option>Hermanx</option>
          <option>Hijx</option>
          <option>Otrx familiar</option>
          <option>Abogadx</option>
          <option>Vecinx</option>
          <option>Amigx</option>
        </select>
      </div>

      <div class="form-group">
        <label for="dni3ro">DNI</label>
        <input type="text" class="form-control" id="dni3ro">
      </div>

      <div class="form-group">
        <label for="contacto3ro">Contacto</label>
        <input type="text" class="form-control" id="contacto3ro">
      </div>

      <div class="form-group">
        <label for="situacionConsulta">Situación</label>
        <select class="form-control" id="situacionConsulta">
          <option>Averiguación de paradero</option>
          <option>Búsqueda de identidad</option>
          <option>Búsqueda de empleo</option>
          <option>Conflicto con población carcelaria</option>
          <option>Usurpación</option>
          <option>Incumplimiento rol func. público</option>
          <option>Temas de familia</option>
          <option>Temas laborales</option>
          <option>Temas de salud</option>
          <option>Otrxs casos de vulneración</option>          
        </select>
      </div>

      <div class="form-group">
        <label for="especificarSit">Especificar</label>
        <input type="text" class="form-control" id="especificarSit">
      </div>      

      <div class="form-group">
        <label for="perfilPev">PEV</label>
        <select class="form-control" id="perfilPev">
          <option>Población carcelaria</option>
          <option>Sistema penitenciario</option>
          <option>Org. municipal/pcial/nacional</option>
          <option>Org. del sector privado</option>
          <option>Org. sociedad civil</option>
          <option>Otrx familiar</option>
          <option>Particular</option>
          <option>Otrx</option>          
        </select>
      </div>

      <div class="form-group">
        <label for="ubicPsvd">Ubicación PSVD al momento de la Admisión</label>
        <select class="form-control" id="ubicPsvd">
          <option>Dom. real</option>
          <option>Dom. legal</option>
          <option>Dom. transitorio</option>
          <option>U. penitenciaria</option>
          <option>Comisaría</option>
          <option>Ubic. desconocida</option>
          <option>No aplica</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Relato y observaciones generales</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
      </div>


    <h2 class="bd-title" id="content">Datos PSVD</h2>

      <div class="form-group">
        <label for="apellidoPsvd">Apellido</label>
        <input type="text" class="form-control" id="nombrePsvd">
      </div>

    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombrePsvd">
    </div>
<!------------------/TERMINA EL FORMULARIO----------------->
<!------------------COMIENZA EL PIE DE PAG----------------->

<section class="cid-ruOTxA2tiD" id="footer5-16">

    <div class="container">
        <div class="media-container-row">
            <div class="col-md-3">
                <div class="media-wrap">
                    <a href="#">
                      <h3>Sistema DDHH Quilmes</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <p class="mbr-text align-right links mbr-fonts-style display-7">
                    <a href="#" class="text-black">CONSULTAS</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-black">RECURSERO</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-black">XXXXX</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-black">XXXXX</a>
                </p>
            </div>
        </div>
        <div class="footer-lower">

            <div class="media-container-row mbr-white">
                <div class="col-md-12 copyright">
                    <p class="mbr-text mbr-fonts-style display-12">
                       DDHH Quilmes © Copyright 2019 - Todos los derechos Reservados
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!------------------/TERMINA EL PIE DE PAG----------------->

  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/parallax/jarallax.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
  </body>
</html>